
<ul>
  <%if @inverse_friendships.any? %>
  <h2>Received Requests</h2>
    <% @inverse_friendships.each do |inverse|%>
        <% sender = User.find(inverse.user_id)%>
        <div><%= sender.name %></div>
        <span>
        <%= link_to "Confirm", friendship_path(inverse.id), method: "PATCH", class: "btn btn-warning text-dark p-0" %>
        <%= link_to "Decline", friendship_path(inverse.id), method: "delete", class: "btn btn-warning text-dark p-0" %>
        </span>
    <% end %>
   <%end%> 
</ul>
